$text-color: #efefef;
$red-text: #5b2a2a;
$gray-fill: #121212;
$med-gray-fill: #262626;
$title-font: 'Bangers', Verdana;
$base-font: 'Montserrat', sans-serif;
$basic-shadow: 1px 2px 1px black;

// Whole app
body {
  background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 1)
    ), url('./img/abandoned-railway.jpg') no-repeat center center scroll;
  background-color: #111;
  background-size: cover;
  color: $text-color;
  font-family: $base-font;
  height: 100vh;
  text-align: center;

  .admin-button {
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid $text-color;
    border-radius: 8px;
    box-shadow: $basic-shadow;
    color: $text-color;
    font-family: $base-font;
    font-size: 1.1rem;
    height: 3.5rem;
    width: 8rem;
    cursor: pointer;

    &:hover,
    &:active {
      background-color: rgba($red-text, 0.5);
      border-color: rgba($red-text, 0.5);
      transition: background-color 0.1s ease-in, border-color 0.3s ease-in;
    }
  }

  .input-field {
    // background-color: rgba(white, 0.9);
    border-radius: 8px;
    font-size: 2rem;
    font-family: $base-font;
    height: 3rem;
    margin-right: .25rem;
    width: 8rem;
  }
}

// Home Component
.Home {
  float: right;
  margin-top: 55vh;
  margin-right: 3vw;
  width: 95vw;
  max-width: 550px;
  text-shadow: $basic-shadow;

  h1 {
    font-family: $title-font;
    font-size: 5rem;
    margin: 0 auto;

    span {
      color: $red-text;
    }
  }

  .menu-opt {
    display: inline-block;
    margin: .5rem;
  }
}

// SetPlayer Component
.Set-Player {

  #username-form {
    h1 {
      font-family: $title-font;
      font-size: 3rem;
      text-shadow: $basic-shadow;
      margin: .5rem auto;

      span {
        margin-left: 2rem;
      }
    }

    .input-field {
      width: 15rem;
    }

    .err-msg {
      background-color: rgba($gray-fill, 0.3);
      color: red;
      margin: 5px auto;
      width: 30vw;
    }
  }

  .gameid-mark {
    background-color: rgba($gray-fill, .85);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    margin: auto;
    height: 4rem;
    width: 20rem;
    padding-top: 2rem;
    margin-top: -.5rem;
  }

  .msg-txt {
    display: none;
    background-color: rgba($red-text, 0.7);
    border: 1vw solid rgba($red-text, 0.75);
    font-size: 3.5vw;
    margin: .5rem auto;
    text-align: center;
    width: 60vw;
    min-width: 25rem;
  }

  .Player-List {
    background-color: rgba($gray-fill, .85);
    border-radius: 15px;
    width: 20rem;
    padding: 1rem;
    margin: 2rem auto;

    h3 {
      font-size: 1.5rem;
      font-weight: bold;
      text-decoration: underline;
    }

    ul {
      text-align: left;
      margin: auto;
      width: 12rem;
      font-size: 1.5rem;
      height: 22vh;
      overflow-x: scroll;
    }
  }

  #all-ready {
    font-size: 1.5rem;
    font-weight: 900;
    height: 6rem;
    width: 12rem;
  }
}

// PlayGame Component
.Play-Game {
  main {
    background-color: rgba($gray-fill, 0.95);
    border: 1px solid $text-color;
    border-radius: 15px;
    box-shadow: $basic-shadow;
    display: inline-block;
    margin: 5vh auto 0;
    height: 90vh;
    width: 95vw;
    position: relative;
  }
  // 'X' out button (ie. to game-over nav)
  .admin-button {
    background-color: rgba($gray-fill, 0.85);
    position: absolute;
    left: .5rem;
    height: 2rem;
    width: 2rem;
  }

  .game-content {
    height: 60vh;
    margin-top: 2vh;
    width: 95vw;
  }

  .player-profile {
    display: none;
    background-color: rgba($med-gray-fill, .9);
    border: 1px solid $med-gray-fill;
    border-radius: 15px;
    bottom: 0;
    height: 9rem;
    position: absolute;
    padding-bottom: 2vh;
    width: 94.75vw;

    img {
      // background-image: url('./img/humans/engineer.png');
      background-size: contain;
      border-radius: 50%;
      height: 12vw;
      min-height: 11rem;
      float: left;
      margin-left: 1.5rem;
      margin-top: -5.5rem;
      width: 12vw;
      min-width: 11rem;
    }

    .engineering {
      background-image: url('./img/humans/engineer.png');
    }

    .chemistry {
      background-image: url('./img/humans/chemist.png');
    }

    .political-science {
      background-image: url('./img/humans/polisci.png');
    }

    .business {
      background-image: url('./img/humans/business.png');
    }

    .photography {
      background-image: url('./img/humans/photog.png');
    }

    .char-descrip {
      float: left;
      text-align: left;
      h3 {
        font-size: 2.5rem;
        font-weight: bold;
        text-shadow: $basic-shadow;
        margin: -3rem 0 0 1rem;
      }
      p {
        float: left;
        width: 25rem;
        margin: 0 0 0 1rem;
      }
    }
  }

  .char-choice {
    background-color: rgba($med-gray-fill, .9);
    border: 1px solid $med-gray-fill;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    padding-bottom: 1rem;
    height: 11rem;
    position: relative;
    z-index: 1;

    p {
      span {
        font-size: 1.5rem;
      }
    }

    select {
      border-radius: 10px;
      font-size: 1rem;
      height: 2.5rem;
      width: 9rem;
    }

    input {
      border-radius: 10px;
      height: 2.5rem;
      margin-left: .5rem;
      width: 4.5rem;
      background-color: rgba(0, 0, 0, 0);
      border: 1px solid $text-color;
      box-shadow: $basic-shadow;
      color: $text-color;
      font-family: $base-font;

      &:hover,
      &:active {
        background-color: rgba($red-text, 0.5);
        border-color: rgba($red-text, 0.5);
        transition: background-color 0.1s ease-in, border-color 0.3s ease-in;
      }
    }
  }

  .team-log {
    float: right;

    .team-log-btn {
      border: 5px solid $red-text;
      background-color: rgba($red-text, .9);
      border-radius: 10px;
      height: 8vh;
      min-height: 2rem;
      margin-top: -1rem;
      width: 35vw;
      min-width: 20rem;
      font-family: $title-font;
      color: rgba($text-color, .8);
      cursor: pointer;

      &:hover,
      &:active {
        background-color: rgba($red-text, 1);
        border-color: rgba($red-text, 1);
        transition: background-color 0.1s ease-in, border-color 0.3s ease-in;
      }

      h5 {
        float: left;
        font-size: 5vh;
        margin-left: 1rem;
        margin-top: .5rem;
      }

      p {
        float: right;
        font-size: 7vh;
        margin-top: 0;
        margin-right: 2vw;
      }
    }

    ul {
      background-color: rgba($red-text, .5);
      border-bottom-right-radius: 15px;
      border-bottom-left-radius: 15px;
      display: none;
      height: 55vh;
      margin: auto;
      margin-top: -3rem;
      width: 30vw;
      min-width: 15rem;

      li {
        list-style: none;
        font-size: 1.5rem;
        padding-top: 5vh;
        padding-left: 0;
        margin-left: -2rem;

        &:before {
          content: '';
          display: inline-block;
          height: 30px;
          width: 30px;
          margin-right: 1rem;
          background-image: url('./img/controller.png');
        }
      }
    }
  }

  .Email {
    background: url('./img/email-graphic.png') no-repeat center center scroll;
    background-size: cover;
    height: 210vh;
    width: 110vw;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 2;
    text-align: left;
    margin: auto;

    button {
      background-color: red;
      border: 1px solid red;
      border-radius: 50%;
      height: 2rem;
      width: 2rem;
      margin-left: 1rem;
      margin-top: .75rem;
    }
  }
}

// GameOver Component
.Game-Over {
  h1 {
    font-family: $title-font;
    font-size: 5rem;
    text-shadow: $basic-shadow;
    margin-bottom: 0;
  }

  .end-msg {
    background-color: rgba($gray-fill, 0.95);
    border: 2px solid $text-color;
    border-radius: 15px;
    box-shadow: $basic-shadow;
    margin: 5vh auto;
    font-size: 3.5rem;
    padding: 5rem 1rem;
    // height: 50vh;
    width: 50vw;
  }

  .admin-button {
    height: 6rem;
    width: 10rem;
  }
}
