$text-color: #efefef;
$red-text: #5b2a2a;
$gray-fill: #121212;
$title-font: 'Bangers', cursive;
$base-font: 'Montserrat', sans-serif;
$basic-shadow: 1px 2px 1px black;

// Whole app
body {
  background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 1)
    ), url('./img/abandoned-railway.jpg') no-repeat center center scroll;
  background-color: #111;
  background-size: cover;
  color: $text-color;
  font-family: $base-font;
  height: 100vh;
  text-align: center;

  .admin-button {
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid $text-color;
    border-radius: 8px;
    box-shadow: $basic-shadow;
    color: $text-color;
    font-family: $base-font;
    font-size: 1.1rem;
    height: 3.5rem;
    width: 8rem;
    cursor: pointer;

    &:hover,
    &:active {
      background-color: rgba($red-text, 0.5);
      border-color: rgba($red-text, 0.5);
      transition: background-color 0.1s ease-in, border-color 0.3s ease-in;
    }
  }

  .input-field {
    // background-color: rgba(white, 0.9);
    border-radius: 8px;
    font-size: 2rem;
    font-family: $base-font;
    height: 3rem;
    margin-right: .25rem;
    width: 8rem;
  }
}

// Home Component
.Home {
  float: right;
  margin-top: 55vh;
  margin-right: 3vw;
  width: 95vw;
  max-width: 550px;
  text-shadow: $basic-shadow;

  h1 {
    font-family: $title-font;
    font-size: 5rem;
    margin: 0 auto;

    span {
      color: $red-text;
    }
  }

  .menu-opt {
    display: inline-block;
    margin: .5rem;
  }
}

// SetPlayer Component
.Set-Player {
  .input-field {
    width: 15rem;
  }
}

// PlayGame Component
.Play-Game {
  main {
    background-color: rgba($gray-fill, 0.95);
    border: 1px solid $text-color;
    border-radius: 15px;
    box-shadow: $basic-shadow;
    display: inline-block;
    margin: 5vh auto 0;
    height: 90vh;
    width: 95vw;
  }
  // 'X' out button (ie. to game-over nav)
  .admin-button {
    background-color: rgba($gray-fill, 0.85);
    position: absolute;
    left: .5rem;
    height: 2rem;
    width: 2rem;
  }
}
